
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

.navbar {
  box-shadow: 0px 5px 21px -5px #CDD1E1;
  /* Navbar color variations */
}


#menu .logo {
  width: 4rem;
}
#menu .navbar-brand{
  font-family: 'Galada', cursive;
  color: #0ac054 !important;
  /* text-shadow: 2px 2px 2px gray; */
  
  padding-top: 0;
}
#menu nav {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
#menu .nav-link.active {
  color: #0abf54 !important;
  font-weight: 700;
}
#menu .navbar-light .navbar-nav .nav-link {
  color: white;
}
#menu .nav-link {
  margin-left: 0.5rem;
}
#menu .navbar-light .navbar-nav .nav-link:hover {
  color: teal;
}
#menu .bg-dark {
  background-color: #2f312e !important;
}
#menu .drawer-menu .ant-drawer-content-wrapper{
  width: 35% !important;
}
#menu ul .mr-3 {
  margin-right: 8px!important;
}

#menu2 .bg-dark {
  border-bottom: 1px solid silver;
}
#menu2 .navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.5) !important;
  font-size: 1rem;
  font-weight: bold;
}
#menu2 .navbar-dark .navbar-nav:hover {
  color: teal;
}
#menu2 .navbar{
  background-color: rgba(0, 0, 0, 0.5) !important;
}
#menu2 .background {
   background-image: url("https://2.bp.blogspot.com/-kHAk-Udrcw8/UMyFoK7crZI/AAAAAAAAJD0/jmyOuixbpxQ/s1600/HINH-NEN-NUI-DEP-CHO-MAY-TINH-WALLPAPER.jpg")   !important;
   /* background: url("#") center repeat-x  !important; */
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;

}
#menu2 .span.ant-dropdown-trigger.nav-link {
  text-align: right;
}
.fa-bell{
  color: #8a95b2;

}
.sss{
  padding-bottom: 2rem !important;
  padding-right: 1rem !important;
}
.sss-true{
  color: rgb(100, 100, 255) !important;
  display: block !important;
}
a.navbar-brand img {
  width: 80% !important;
  /* height: 50% !important; */
}
@media (max-width: 768px) {
  #menu .drawer-menu .ant-drawer-content-wrapper{
    width: 45% !important;
  }
}
@media (max-width: 576px) {
  #menu .drawer-menu .ant-drawer-content-wrapper{
    width: 100% !important;
  }
  #menu2 .navbar-dark .navbar-nav .nav-link {
    color: white !important;
    font-size: 1rem;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: bold;
  }
  #menu2 .span.ant-dropdown-trigger.nav-link {
    text-align: left;
  }
}

/* menu .menu-css{
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
} */

#menu .navbar-collapse {
  flex-grow: 0;
}
#menu2 .navbar-collapse {
  flex-grow: 1;
}
.search-menu {
  flex-grow: 1;
}
.search-bar-menu button{
  background: #0abf54;
  border-color: #fff;
}

.search-bar-menu button:hover{
  background: #097737;
  border-color: #fff;
}

.btn-search-menu{
  position:absolute;
  width:45px;
  height:36px;
  right:25px;
  top:10px;
  z-index: 3;
  background:none;
  border:none;
}

.flex-betw {
  justify-content: space-between;
  width:100%
}
