#login{
    height: 100vh;
    background: url('./../../images/dangky1.png') center ;
    background-size: cover;
}
#login .box-login{
    width: 30%;
    margin: 0 auto;
    position: relative;
    top: 30vh;
    
    padding: 30px;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
#login .form{
  width: 100%;
}
#login h4{
    /* text-shadow: 1px 5px 10px black; */
    font-size: 26px;
    font-weight: 800;
    color: #000;
    margin: 10px 0;
}
#login .form-control:focus{
    box-shadow: none;
    border-color:#bd3f32;
}
#login .form-control:hover .input-group-text{
    border-bottom: 6px solid black;
}
.input-group-text:hover .form-control{
    background-color: #bd3f32;
}
.input-group-text{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
}
.img-login{
    width: 20px;
}
.mxh .MuiButton-root{
    padding-left: 0 !important;
    width: 45%;
}
.mxh .instagram{
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

@media (max-width:1125px){
    #login .box-login{
        width: 45%;
    }
}
@media (max-width:900px){
    #login .box-login{
        width: 50%;
    }
}
@media (max-width:642px){
    #login .box-login{
        width: 60%;
    }
}
@media (max-width:460px){
    #login .box-login{
        width: 80%;
    }
}