.map-container{
    overflow:hidden;
    padding-bottom:47%;
    position:relative;
    height:0;
    border-radius: 8px;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }