.history__content{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h4 {
    margin-top: 3rem;
    margin-bottom: 0;
}
a .history__box{
    color: black;
}
.hr-tour {
  height: 1px;
  width: 150px;
  background-color: #0abf54;
}

.history__box{
    /* margin-top: 0.5rem; */
    margin-bottom: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.history__box img{
    border-radius: 10px;
    width: 128px !important;
    height: 160px !important;
}
.history__tour{
    width: 100%;
    margin-left: 1.3rem;
}
.history--left{
    width: 55%;
}
.history--name{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(65, 65, 247);
}
.history--title {
    padding-top: 10px;
}
.history--infor{
    font-size: 1rem;
    display: flex;
}
.history--infor table.nmn{
    margin-left: 6rem;
}
.history--infor th{
    font-weight: 600;
    margin-left: 1rem;
}

.icon-cosan {
    font-size: 35px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 15px;
}

.icon-canhan {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lichsuCosan_overflow {
  height: 31vh;
  overflow: auto;
}

.lichsuCanhan_overflow {
    height: 31vh;
    overflow: auto;
  }