
:root{
  --primary-color:#66cf28;
  --white-color: white;
  --text-color:#414244;
  --hue-color: 190;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
}


::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* Chỉnh màu thanh scroll */
/* ::-webkit-scrollbar-thumb{
  border-radius: 6px;
  background:linear-gradient(gray, var(--primary-color));
} */


body {
  margin: 0;
  font-family: 'Nunito', sans-serif !important;
  background-color: #f5f5f5 !important;
}

/* css cho footer dưới cùng */
/* .footer-bottom {
  position:absolute;
  bottom:-19vh;
  width:100%;
} */

/* css cũ */
.heading span {
  font-size: 2rem;
  padding-top: 2rem;
  text-transform: uppercase;
}
.heading p {
  font-size: 1rem;
}
.hr {
  height: 2px;
  width: 200px;
  background-color: #0abf54;
  margin: 0 auto;
}
.xem-them {
  position: absolute;
  width: 90px;
  right: 5%;
  padding-bottom: 2rem;
}
#admin .heading h4{
  text-align: center;
}
#admin .form-control:focus{
  box-shadow: none; 
}
svg{
  vertical-align: baseline;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
  border: none !important;
}
.ant-layout-sider{
  min-height: 100vh;
}
.spin{
  text-align: center;
}
#admin textarea {
  resize: none;
}
.spinner-border.text-success {
  left: -2%;
  position: relative;
  bottom: -10px;
  color: #3f51b5 !important;
}
#error{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#admin .content i{
  cursor: pointer;
}